* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import './pages/Main/';
@import './pages/AboutUs';
@import './pages/ErrorResponse';
@import './pages/Forms';

@import './components/AllCards';
@import './components/Card';
@import './components/FormCard';
@import './components/Header';
@import './components/Navigation';
@import './components/SearchBar';

@import './components/CardModal';
@import './components/ErrorMessage';
@import './components/LoadIndicator';

@import './components/UserFormComponents/Input';
@import './components/UserFormComponents/Select';
@import './components/UserFormComponents/SubmitButton';
@import './components/UserFormComponents/Switcher';
@import './components/UserFormComponents/UserForm';
