.main-link {
  display: block;
  margin: 0 auto;
  padding: 25px 0 0 0;
  width: 150px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  text-decoration: overline;
}

.character-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 25px 25px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkmagenta;
  text-shadow: 0 0 15px darkmagenta;
}

.character-title-field {
  color: black;
  text-shadow: 0 0 0 darkmagenta;
}

.character-image {
  width: 250px;
  height: 250px;
  box-shadow: 0 0 10px gray;
}
