.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 25px;
  width: 300px;
  height: 430px;
  top: calc(50% - 215px);
  left: calc(50% - 150px);
  background-color: white;
  border-radius: 5px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkmagenta;
  text-shadow: 0 0 15px darkmagenta;
}

.modal-close-button {
  align-self: flex-end;
  padding: 5px 10px;
  cursor: pointer;
}

.modal-img {
  width: 250px;
  height: 250px;
  box-shadow: 0 0 10px gray;
}
